body {
  position: relative;
  font-family: serif;
}
.container-fluid {
  padding: 0;
  text-align: center;
}
.container {
  margin-bottom: 5em;
}
.container::before {
  height: 54px;
  content: "";
  display:block;
}
.fillfooter {
  height:100vh;
}

nav.navbar{
  padding-left: 15px;
  padding-right: 15px;
  border: none;
}

.flexrow {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin:1em;
}

p, ul, ol, td, th {
  font-size:1.2em;
}

ol, ul {
  list-style-position: inside;
}

img {
  max-width: 100%;
  margin:auto;
}

.table {
  margin:auto;
  margin-bottom: 2em;
  max-width: 40em;
}

.hero {
    padding-top: 100px;
}
